/*....Created by A.S.M. ........*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Oswald&display=swap');
*{
    box-sizing:border-box ;
    text-decoration:none;
    outline:none;
    user-select:none;
    font-family: Times New Roman,Sans-serif;
    margin:0;
    padding:0;
}
::-webkit-scrollbar{
    display:none;
}
body{
    width:100%;
    height:auto;
    overflow-x:hidden;
}
.loader{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:#1DA1F2;
    top:0;
    z-index: 22;
}
.load_bird{
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    top:40vh;
    left:40vw;
}
.login{
display:flex;
  flex-wrap:nowrap;
    position:fixed;
      width:100%;
        height:100%;
         margin-left:-10vw;
          margin-top:-40px;
           z-index:20;
            word-wrap:normal;
}
.log-wrapper{
    width:400px;
    height:400px; 
    word-wrap:normal;
    display:flex;
    flex-direction: column;
    flex-flow: column;
    flex-basis:auto;
    flex-wrap: nowrap; 
    justify-content:space-around;
    align-content: center;
    margin-left: 15vw;
    margin-top: -5px;
    z-index:19;
    filter:saturate(80%);
 }
#bird{
    width: 10%;
    height: 8%;
    margin-left: 30vw;
    margin-top:20vh;
}
.log-head{
    font-family:Hind;
    margin-left:13vw; 
    margin-top:5%;
}
form{
    margin:0;
    padding:0;
}
input{

flex-wrap:nowrap;
    width:310px;
    height:50px;
    margin-left:1%;
    margin-right:2%; 
    border:none;
    border-bottom:2px solid rgb(101,119,134);
    margin-top:8px;
    background-color:#eff;
    
opacity:0.5;

}
input:focus{
  border-bottom:3px solid #1DA1F2;  
   
}
input::placeholder{
     color:#1DA1F2;
    font-size: 10px;
    opacity:1 !IMPORTANT;
    position: relative;
    top:-12px;
    padding-left:10px;    
}
.log-but{
    border:none;
    border-radius:40px;
    background-color:#1DA1F2;
    color:white;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    opacity:1;
}
.log-but:
#log-link-wrap{
    flex-direction:row;
    flex-flow:row;
    align-content:center;
    justify-content:space-between;
}
.log-link{
position:relative;
left:20px;
   font-size:12px;
    margin-left:20px; 
    margin-top:20px;
    opacity:0.5;
    text-decoration:underline ;
}
.log-link{ 
    margin-left:1px;
    
}
#tweet{
    display:none;
     position:fixed;
    min-width: 100vw;
    min-height: 150vw;
    top:0;
    background-color: white;
    z-index: 9;
}
.tweet_area{
    position:relative;
    width:80vw;
    height: 95vw;
    top:38px;
    left:55px;
       border: none;
    font-size: 20px;

}
.tweet_area::placeholder{
    position: relative;
    font-size: 17px;
}
.tweet_pic{
    position: absolute;
    width:40px;
    height: 40px;
    left:10px;
    top:60px;
    border-radius: 50px;
    z-index: 4;
}
.tweet_button{
    position: absolute;
    right: 10px;
    z-index: 5;
    top:10px;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    color:whitesmoke;
    background-color:#1fa1d2;
    border:none;
    box-shadow:2px 1px 8px #43bde6;
    
}
.tweet_close{
    position: relative;
    left:20px;
    font-weight: 600;
    font-size: 23px;
    left:10px;
}
.main_body{
    display:none;
    width:100vw;
    max-height: 3600px;
    overflow-y: hidden;
}
.feed{
    display:flex;
}
.trend{
    display:none;
    width:100%;
    background-color: #efeded
}
.notif{
    display:none;
}
.pc{
    display:none;
}
.head_bar{
    position:fixed;
    box-sizing:border-box;
    display:none;
    flex-direction: row;
    width:100%;
    height:70px;
    top:0;
    margin:0 0px;
    padding:0;
    background-color:#f7fcfc;
    z-index:04;
}
#head_bird{
    align-self: center;
    margin-top:15px;
    margin: 10px 35vw ;
    max-width:10%;
    max-height:25px;
    z-index:5;
}
#head_menu{
    max-width: 30px;
    max-height: 28px;
    margin-left: 10px;
    margin-top: 21px;
}
#head_settings{
    position: fixed;
    max-height: 30px;
    max-width: 30px;
    margin-top: 21px;
    right:5vw;
}
/*side navigation*/

.side_nav{
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:300px;
    max-height:90vh;
    min-height:75vh;
    padding-left:20px;
    background-color:white;
    opacity:1;
    top:70px;
    left:-300px;
    z-index:3;
    
overflow-y:scroll;
}
.my_info{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:100%;
    height:150px;
    border-bottom:1px solid #efeded;
    margin-left:-10px;
}
.my_dp{
    width:50px;
    height:50px;
    border-radius:50px;
    align-self:flex-start;
}
.my_info span{
    display:flex;
    justify-content:space-even;
    font-size:15px;
    margin-left:5px;
    white-space:pre;
}


.side_nav ul a{
      filter:invert(50%);
      opacity:0.5;
      }
      .side_list ul{
          margin-top:-40px;
      }
.side_list li{
    list-style-type:none;
    color:black;
    margin-left:10px;
    margin-top:8px;
    
}
.side_list li:nth-child(6){

    cursor:pointer;
}
.side_list span{
position:relative;
    border-bottom:1px solid gray;
    
}
#cross{
    position:absolute;
    right:20px;
    top:10px;
}

/***bottom bar and stuff***/

.bot_bar{
    display: none;
    position:fixed!important;
    width:100%;
    height:60px;
    margin:0 0px;
    bottom:0;
    border:.2px solid #aaa;
    background-color:#f7fcfc;
    z-index:04;
}
.bot_icon{
display:inline;
    margin-left:75px;
    margin-top:30px;
}
a:nth-child(1){
    margin-left:20px;
    
}
/*******feed page********/

.feed_body{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    box-sizing:content-box ;
    top:100px;
    width:100%;
    min-height:3700px;
    margin-top:72px;
    overflow-y:hidden;
    overflow-x:hidden;
    padding:0;
    z-index:1;
    background-color:#fff;
}
.feed_card{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:60px 0 0 0;
    justify-content:space-between;
    align-items:flex-start;
    word-wrap:wrap;
    width:100%;
   height:auto;
    line-height: 20px;
   max-height:600px;
    z-index:2;
    border-bottom:0.4px solid #e6eded;
}
.feed_card:nth-child(12){
order:-10;
}


div .feed_card .usrname{
    margin-right:55px;
    display: flex;
    flex-flow: row wrap;
    
}

.sub_feed{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap:nowrap;
    width:80%;
    height:auto;
    max-height:590px;
}
.dp_wrap{
    display:flex;
    flex-direction:column;
    width:20%;
    align-content:stretch;
    margin-top:-60px;
    padding-left:20px;
}
.dp{
position:relative ;
    align-self:flex-start;
    margin-left:-10px;
     top:20px;
    max-width:60px;
    max-height:58px;
    border-radius:50%;
    z-index:3;

}
.feed_img{
    max-width:60vw;
    min-width: 48vw;
    max-height:180px;
    border:1.3px solid #e6eded;
    border-radius:6px;
    margin-right:5px;
}
.usrname{
    display:flex;
    max-width:90vw;
    min-width:80vw;
    flex-direction:row;
    max-height:20px;
    flex-wrap:nowrap;
    text-align:left;
    margin-top:-40px;
    margin-bottom:5px;
    justify-content:space-around;
    align-items: baseline;
    margin-left:5px;
}
.f_time{
    margin-top: 2px;
    filter: invert(50%);
}
.feed_text{
    align-self:stretch;
    text-align:left;
    margin-top:8px;
    width:auto;
    max-width:300px;
      padding:5px;
    word-wrap:wrap;
}
.id_s{
    min-width: 20px;
    text-align:right;
    align-self:center;
    font-size:7px important!;
    color:rgba(40,40,40,0.5);
    
}
.feed_icon_cont{
    display:flex;
    flex-direction:row;
    width:70vw;
    height:21px;
    margin-left:-15vw;
    align-self:flex-start;
}
.feed_bot_icon{
    filter:hue-rotate(180deg);
    min-width:15px;
    height:15px;
    margin-top:1.5vw .5vw;
    margin-left:60px;
    opacity:0.9;
    
}
div .feed_icon_cont .feed_bot_icon:nth-child(2){
    width:15px;
    
}
div .feed_icon_cont .feed_bot_icon:nth-child(3){
     
}
div .feather{
position:fixed;
border-radius:50px;
bottom:70px;
right:20px;
background-color:#1DA1F2;
width:50px;
height:50px;
opacity:1;
box-shadow:4px 2px 8px #43bde6;
z-index:06;
}
.feather img{
position:relative;
    width:20px;
    height:28px;
top:-5px;
left:18px;
filter:invert(98%);
}
#fplus{
    position:relative;
    text-align:center;
    top:8px;
    left:-6.8px;
    margin:0;
    color:white;
}
.tick{
    width:20px;
    height:20px;
    align-self:center;
    margin-right:5px;
    margin-top:-1px;
}


.bot_icon{
    margin-left:60px;
    margin-top:0px;
}
.drop{
    align-self:flex-end;
    max-width:15px;
    max-height:15px;
    margin-right:6px;
    margin-top:1px;
}
em{
    color:blue;
}
/********notif page******/

.notif_body{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    box-sizing:content-box ;
    top:100px;
    width:100%;
    height:1350px;
    margin-top:122px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:0;
    background-color:#fefefe;
    z-index:1;
}
.notif_card{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:10px 0 10px 0;
    justify-content:space-between;
    align-items:flex-start;
    align-content:space-between;
    word-wrap:wrap;
    width:100%;
   height:auto;
   max-height:600px;
    z-index:2;
    border-bottom:0.4px solid rgba(80,80,80,0.2);
}

.nstar_wrap{
display:flex;
flex-direction:column;
    max-width:30%;
    min-height:100%;
    
}
.nstar{
    max-width:30px;
    max-height:30px;
    align-self:flex-end;
    margin-left: 20vw;
    transform: rotate(45deg);    
}
.sub_notif{
    display:flex;
    flex-direction:column;
    align-content:center;
    max-width:70%;
}
.nhead{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    min-width:300px;
}
.ndp{
     align-self:flex-start;
    max-width:30px;
    max-height:30px;
    border-radius:50%;
    z-index:3;
}
.nhead .drop{
    margin-left:100px;
}
.hide_card{
position:fixed;
width:98%;
height:220px;
    border:1.4px solid rgba(40,40,40,0.5);
    border-radius:16px 16px 0 0;
    bottom:-220px;
    left:5px;
    text-align:left;
    z-index:3;
    opacity:1;
    background-color:white;
    overflow:none;
}
.hide_card ul li{
    list-style-type:none;
    margin-left:40px;
   margin-top:15px; color:rgba(10,20,10,0.5);
}
.hide_card ul li:nth-child(1){
    margin-top: 30px;
}
.list_wrap{
    margin-top:0px;
    margin-bottom:20px;
}
#h_mid{
    position:absolute;
    bottom:200px;
    left:150px;
    background-color:grey;
    border-radius:40px;
    width:40px;
    height:8px;
    z-index:6;
}
.ntab{
    position:absolute;
    top:70px;
    width:100%;
    min-height:50px;
    display:none;
    flex-flow:row wrap;
    background-color:white;
    justify-content:space-even;
    color:#1DA1F2;
    text-align:center;
}
.ntab h4{
    margin-top:10px;
    margin-left:0px;
    }
    .mention{
    width:50%;
    border-left:1px solid #eeeded;
        min-height: 40px;
}

.activity{
width:50%;
text-align:center;
    border-bottom:3px solid #1DA1F2;
    min-height: 30px;
} 
.men_wrap{
    display:none;
    flex-direction:column;
    align-items:center;
    align-content:flex-start;
    width:100%;
    height:400px;
    background-color:#c3cad6;
    color:black;
    padding-top:100px;
    opacity: 1;
    z-index: 3;
};
.men_wrap p{
    color:#8b98ad;
}
.tab_wrap{
    display:none;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-content:flex-start;
    bor
    align-items:flex-start;
    position:absolute;
    top:72px;
    max-width:100%;
    height:50px;
   color:#1da1f2;
    background-color:white;
    overflow-x:scroll;
    box-shadow:1px 0.2px 5px #43bde6;
    margin-left:-10px;
}
.t_tab{
position:relative;
min-width:160px;
height:50px;
text-align:center;
align-self:center;
border-left:1px solid #eeeded;
}
.for_you{
    margin-left:360px;
    border-bottom:3px solid #1DA1F2;
}
.showcase_wrap{
    max-width: 80vw;
    max-height:25vw;
    margin-top: 36vw;
    border:1px solid transparent;
   border-radius: 10px;
    overflow: hidden;
}
.showcase{
    min-width: 80vw;
    max-width: 80vw;
    max-height:25vw; 
}
.trend_body{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-left: 10px;
    margin-bottom: 50px;
}
.trend_wrap{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:60px 0 0 0;
    justify-content:space-between;
    align-items:flex-start;
    word-wrap:wrap;
    width:100%;
   height:auto;
    line-height: 20px;
   max-height:600px;
    background-color: white;
    z-index:2;
    margin-top: 0;
    border-bottom:0.4px solid #e6eded;
    
}
.trend_wrap p{
    color:#999;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.trend_wrap .drop{
position:absolute;
    align-self: flex-end;
    margin-right: 180px;
    margin-top: -20px;
    right:-110px;
    width: 14px;
    filter: invert(40%);
}
.happen_wrap{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: white;
margin-left:0;
    justify-content:space-between;
    align-items:flex-start;
    word-wrap:wrap;
    width:100%;
   height:auto;
    line-height: 20px;
   max-height:600px;
    z-index:2;
    margin-bottom:0;
    border-bottom:0.4px solid #e6eded;
}
.h_span{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    max-width:200px;
    min-width:100px;
    justify-content:space-between;
    align-content:stretch;
     color:#999;
    font-size: 15px;
}
.h_container{
display:flex;
flex-flow:column wrap;
max-width:65vw;


}
.h_img_wrap{
    max-width:30vw;
    max-height:40vw;
    position:relative;
    margin-left:2px;
    right:20px;
    border:.5px solid #aaa;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:3vw;
    margin-top: 3vw;
}
.h_img{
    max-width:30vw;
    max-height:50vw;
    min-height:50vw;
}
.happen_header{
    font-family: Hind;
    width: 100vw;
    height:10vw;
    border-bottom: 1px solid #efeded;
    text-align:left;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    margin-top: 3vw;
    margin-left: -8px;
}
.trending_header{
    font-family: Hind;
    width: 100vw;
    height:10vw;
    border-bottom: 1px solid #efeded;
    text-align:left;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    margin-top: 3vw;
    margin-left: -8px;
}
.pc_body{
    width: 100%;
    display: flex;
    flex-flow:column wrap;
    max-height: 2500px;
    padding-bottom:60px;
    
}
.p_wrap{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:10px 0 20px 0;
    justify-content:space-between;
    align-items:flex-start;
    align-content:space-between;
    word-wrap:wrap;
    width:100%;
   min-height:120px;
   max-height:600px;
    z-index:2;
    border-bottom:0.4px solid rgba(80,80,80,0.2);
}
.p_wrap:nth-child(1){
    margin-top:80px;
}
.pic_wrap{
    display: flex;
    width:30vw;
    align-self: flex-start;
    justify-content: center;
}
.pic{
    max-width: 80px;
    max-height: 60px;
    border-radius: 50px;
}
.p_container{
    display: flex;
    flex-flow: column wrap;
    max-width: 65vw;
    flex-grow: 3;
    margin-right: 15px;
    min-
height:50px;
}
.p_span{
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
    word-break:none;
}
.p_name{
    font-size: 17px;
}
.p_id{
    color: dimgrey;
}
.p_time{
    color:dimgrey;
}
.p_msg{
    font-size: 15.6px;
    font-weight: 500;
    word-wrap:break-word;
}
.pic:nth-child(6){
    box-sizing:border-box;
    min-height:90px;
}
.search{
    position: fixed;
    top:10px;
    left:10vw;
    z-index: 81;
    opacity: 1;
    
}
input[type = "search"]{
    display:none;
       max-width: 45vw;
    min-width:32vw;
    max-height: 10vw;
    margin-left:10vw;
border-radius: 30px;
    filter: contrast(80%) saturate(70%);
    
}